{% extends 'base/layout.html' %}
{% load staticfiles %}

{% block description %} {{ user.user.get_full_name }} {{ user.short_bio }} {% endblock description %}
{% block title %} Page not found {% endblock title %}

{% block nav %} 
  <a href="{% url 'website:index' %}" class="navbar-item has-text-weight-light is-uppercase"> Acerca de mí </a>
  <a href="{% url 'website:projects' %}" class="navbar-item has-text-weight-light is-uppercase"> Portafolio </a>
  <a href="{% url 'website:index' %}#contacto" class="navbar-item has-text-weight-light is-uppercase"> Contacto </a>
  <a href="{% url 'blog:index' %}" class="navbar-item has-text-weight-light is-uppercase"> Blog </a>
{% endblock nav %}

{% block header %}
    <div class="hero-body">
        <div class="level">
            <div class="level-item has-text-centered">
                <h1 class="title has-text-centered"> This is not the web page you are looking for! </h1>
            </div>
        </div>
        <div class="level">
            <div class="level-item has-text-centered">
              <a class='button' href="{% url 'website:index' %}"> Regresar al inicio </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerCopy %} {{ user.user.get_full_name }} {% endblock footerCopy %}