{% extends 'base/layout.html' %}

{% load staticfiles %}
{% block title %} Dashboard {% endblock title %}

{% block nav %} 
    <a href="{% url 'website:index' %}" class="navbar-item has-text-weight-light is-uppercase"> Acerca de mí </a>
    <a href="{% url 'website:projects' %}" class="navbar-item has-text-weight-light is-uppercase"> Portafolio </a>
    <a href="{% url 'website:index' %}#contacto" class="navbar-item has-text-weight-light is-uppercase"> Contacto </a>
    <a href="{% url 'blog:index' %}" class="navbar-item has-text-weight-light is-uppercase"> Blog </a>
{% endblock nav %}

{% block header %}
    <div class="hero-body">
        <div class="level">
            <div class="level-item has-text-centered">
                <h1 class="title has-text-centered"> Panel de administración </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="page-content"> 
        <section>
            <div class="wrapper">
                <div class="page-header page-header-tiny">
                <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'images/background1.jpg' %}');"></div>
                    <div class="container">
                        <div class="content-center">
                            <h1 class="h2 title"> Bienvenido al panel de administración  </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class='section'>
            <div class="container"> 
                <div class="row justify-content-sm-center">

                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <a href="{% url 'dashboard:new_post' %}"> Crear nueva publicación en el blog </a>
                    </div>

                </div>
            </div>
        </section>
    </div>
{% endblock content %}


{% block footerCopy %} Andrés Aguilar {% endblock footerCopy %}