{% extends 'base/layout.html' %}

{% load staticfiles %}
{% block title %} Login {% endblock title %}

{% block nav %} 
    <a href="{% url 'website:index' %}" class="navbar-item has-text-weight-light is-uppercase"> Acerca de mí </a>
    <a href="{% url 'website:projects' %}" class="navbar-item has-text-weight-light is-uppercase"> Portafolio </a>
    <a href="{% url 'website:index' %}#contacto" class="navbar-item has-text-weight-light is-uppercase"> Contacto </a>
    <a href="{% url 'blog:index' %}" class="navbar-item has-text-weight-light is-uppercase"> Blog </a>
{% endblock nav %}

{% block header %}
    <div class="hero-body">
        <div class="level">
            <div class="level-item has-text-centered">
                <h1 class="title has-text-centered"> Panel de administración </h1>
            </div>
        </div>
        <div class="level">
            <div class="level-item has-text-centered">
                <h2 class="is-size-6 has-text-light has-text-weight-light is-uppercase"> Inicio de sesión </h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="columns is-multiline is-centered mt-3">
            <div class="column is-four-fifths">
                <div class="columns">
                    <div class="column">
                        {% if form.errors %}
                        <p class="notification is-danger"> Usuario o contraeña incorrectos! </p>
                        {% endif %}
                        <form method="post" class="card card-has-radious is-centered p-5 card-shadowed">
                            {% csrf_token %}

                            <div class="field">
                                <label class="label">Usuario</label>
                                <div class="control">
                                  <input class="input is-rounded" type="text" placeholder="Usuario" name='username'>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Contraseña</label>
                                <div class="control">
                                  <input class="input is-rounded" type="password" name='password' placeholder="Contraseña">
                                </div>
                            </div>

                            <div class="field is-grouped is-grouped-centered">
                                <p class="control">
                                  <button class="button is-info is-medium"> Entrar </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block footerCopy %} Andrés Aguilar {% endblock footerCopy %}