{% extends 'base/layout.html' %}
{% load staticfiles %}

{% block description %} {{ user.user.get_full_name }} {{ user.short_bio }} {% endblock description %}
{% block title %} Mi blog personal {% endblock title %}

{% block nav %}
    <a href="{% url 'website:index' %}" class="navbar-item has-text-weight-light is-uppercase"> Acerca de mí </a>
    <a href="{% url 'website:projects' %}" class="navbar-item has-text-weight-light is-uppercase"> Portafolio </a>
    <a href="{% url 'website:index' %}#contacto" class="navbar-item has-text-weight-light is-uppercase"> Contacto </a>
    <a href="{% url 'blog:index' %}" class="navbar-item has-text-weight-light is-uppercase is-active"> Blog </a>
{% endblock nav %}

{% block header %}
    <div class="hero-body">
        <div class="level">
            <div class="level-item has-text-centered">
                <h1 class="title has-text-centered"> Blog </h1>
            </div>
        </div>
        <div class="level">
            <div class="level-item has-text-centered">
                <h2 class="is-size-6 has-text-light has-text-weight-light is-uppercase"> Mi blog personal </h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="columns is-multiline is-centered mt-5">

            {% for article in object_list %}
            <div class="column is-four-fifths mt-3">
                <a href="{% url 'blog:view' article.slug %}" class="has-text-justified has-text-black">
                    <div class="columns">
                        <div class="column has-background-link has-maxwidth-350 has-text-centered">
                            <p class="is-size-3 is-uppercase has-text-white"> {{ article.title }} </p>
                            <p class="is-size-6 has-text-weight-light has-text-grey-light"> {{ article.pub_date }} </p>
                        </div>
                        <div class="column">
                            <p class="has-text-justified has-text-black"> 
                                {{ article.formatted_markdown | safe | truncatechars_html:500 }} 
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>

        {% if page_obj.has_previous or page_obj.has_next %}
        <nav class="pagination is-centered is-rounded mt-3" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% if page_obj.has_previous %}
                <li><a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a class="pagination-link" href="?page={{ page_obj.next_page_number }}">Next page</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </section>
{% endblock %}