{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO metatags -->
    <meta name='author' content='{{ user.user.get_full_name }}' />
    <meta name='owner' content='{{ user.user.get_full_name }}'/>
    <meta name="description" content="{{ user.user.get_full_name }} {{ user.short_bio }}"/>
    <meta name='keywords' content='Python developer, Django developer, data engineer'/>
    <meta name='robots' content='index,follow'/>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    <title> {{ user.user.get_full_name }} - {{ user.short_bio }}</title>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip"> {{ user.user.get_full_name }} </a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">Acerca de mí</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Habilidades</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portafolio</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experiencia</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contacto</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'images/background1.jpg' %}');"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="{% static 'images/photo.jpg' %}" alt="Image"/></a></div>
          <h1 class="h2 title">{{ user.user.get_full_name }}</h1>
          <p class="category text-white">{{ user.short_bio }}</p>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
          {% for sc in social_medias %}
            <a class="btn btn-default btn-round btn-lg btn-icon" 
              href="{{ sc.url }}" rel="tooltip" 
              title="Follow me on {{ sc.name }}" target="_blank"><i class="{{ sc.icon }}"></i></a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <h2 class="h4 mt-0 title">Acerca de mí</h2>
            <p> {{ user.bio }} </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <h3 class="h4 mt-0 title">Información básica</h3>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
              <div class="col-sm-8"> {{ user.age }} </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8"> {{ user.user.email }} </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Ubicación:</strong></div>
              <div class="col-sm-8"> {{ user.location }} </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Idiomas:</strong></div>
              <div class="col-sm-8"> {{ user.languages }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="skill">
  <div class="container">
    <h2 class="h4 text-center mb-4 title">Habilidades</h2>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">

        <div class="row">
        {% for tech in technologies %}
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge"> {{ forloop.counter }}.- {{ tech.name }}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" 
                  data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="{{ tech.percentage }}" aria-valuemin="0" 
                  aria-valuemax="100" style="width: {{ tech.percentage }}%;"></div><span class="progress-value">{{ tech.percentage }}%</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <h2 class="h4 text-center mb-4 title">Portafolio</h2>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
            <!-- <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">

            {% for project in projects %}
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="{{ project.url }}" target="_blank">
                  <figure class="cc-effect"><img src="/{{ project.image.url }}" alt="Image"/>
                    <figcaption>
                      <div class="h4">{{ project.name }}</div>
                      <p>{{ project.description }}</p>
                      <p class="font-weight-light" > {{ project.project_type }} </p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="section" id="experience">
  <div class="container cc-experience">
    <h2 class="h4 text-center mb-4 title">Experiencia laboral</h2>

    {% for work in works %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p> {{ work.start| date:'m/Y' }} - {{ work.end| date:'m/Y' }} </p>
            <div class="h5"> {{ work.name }} </div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"> {{work.position}} </div>
            <p> {{ work.description }} </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <h2 class="h4 text-center mb-4 title">Educación</h2>

    {% for school in schools %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p> {{ school.start| date:'m/Y' }} - {{ school.end| date:'m/Y' }} </p>
            <div class="h5"> {{ school.degree }} </div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"> {{ school.carrer }} </div>
            <p class="category"> {{ school.name }} </p>
            <p> {{ school.description }} </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('{% static 'images/staticmap.png' %}');">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <h2 class="h4 text-center title"> Contacto </h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/{{ user.user.email }}" method="POST">
                      <div class="p pb-3"><strong> Sientase libre de contactarme </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Nombre" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Proyecto" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Comentario" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Enviar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Ubicación </strong></p>
                    <p class="pb-2"> {{ user.location }} </p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p> {{ user.user.email }} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
      {% for sm in social_medias %}
        <a class="cc-facebook btn btn-link" href="{{ sm.url }}"><i class="{{ sm.icon }} fa-2x " aria-hidden="true"></i></a>
      {% endfor %}
      </div>
      <div class="h4 title text-center"> {{ user.user.get_full_name }} </div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved. Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/now-ui-kit.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>