{% extends 'base/base.html' %}
{% load staticfiles %}

{% block description %} {{ user.user.get_full_name }} {{ user.short_bio }} {% endblock description %}
{% block keywords %} Andrés Aguilar, {{ object.technologies }} {% endblock keywords %}
{% block title %} {{ object.name }} {% endblock title %}

{% block nav %} 
  <li class="nav-item"><a class="nav-link smooth-scroll" href="{% url 'website:index' %}">Inicio</a></li>
  <li class="nav-item"><a class="nav-link smooth-scroll" href="{% url 'blog:index' %}">Blog</a></li>
{% endblock nav %}

{% block content %}
    <div class="page-content"> 
        <section>
            <div class="wrapper">
                <div class="page-header page-header-tiny">
                    <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'images/background1.jpg' %}');"></div>
                    <div class="container">
                        <div class="content-center">
                            <h1 class="h2 title"> {{ object.name }} </h1>
                            <p> {{ object.project_type.name }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class='section'>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <figure>
                            <img src="/{{ object.image.url }}" alt="image for project {{ object.name }}">
                        </figure>
                        <div>
                            <p> Fecha: <span class="text-primary">{{ object.date }}</span></p>
                            <p> Tipo de proyecto: <span class="text-primary">{{ object.project_type.name }}</span> </p>
                            <p> Tecnologías usadas: <span class="text-primary">{{ object.technologies }}</span> </p>
                            <p> URL: <a href="{{ object.url }}"> {{ object.url }} </a> </p>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-8">
                        {{ object.formatted_markdown|safe  }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footerIcons %}
  {% for sm in social_medias %}
    <a class="cc-facebook btn btn-link" href="{{ sm.url }}"><i class="{{ sm.icon }} fa-2x " aria-hidden="true"></i></a>
  {% endfor %}
{% endblock footerIcons %}

{% block footerCopy %} {{ user.user.get_full_name }} {% endblock footerCopy %}